<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AirTravelBooking</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LoginPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Destinations">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Destination
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Priority">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Priority
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Seats">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Seats
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Baggages">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Baggage
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Customers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Customer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Bookings">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Booking
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Feature">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Feature
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Airplanes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Airplane
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Payments">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Payments
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Confirmation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Confirmation
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
