@page "/Priority/Create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Priorities</h3>
<hr />
<br />

<FormComponent ButtonText="Update" OnValidSubmit="@CreatePriority" priority="priority" />

@code {
    Priority priority = new Priority();

    private IList<Feature> Features;

    protected async override Task OnInitializedAsync()
    {
        Features = await _client.GetFromJsonAsync<List<Feature>>($"{EndPoints.FeaturesEndPoint}");
    }

    private async Task CreatePriority()
    {
        await _client.PostAsJsonAsync(EndPoints.PrioritiesEndPoint, priority);
        _navManager.NavigateTo("/Priority");
    }

}
