@page "/Priority/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Priority</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditPriority" priority="priority" />

@code {
    [Parameter] public int id { get; set; }
    Priority priority = new Priority();

    protected async override Task OnParametersSetAsync()
    {
        priority = await _client.GetFromJsonAsync<Priority>($"{EndPoints.PrioritiesEndPoint}/{id}");
    }

    async Task EditPriority()
    {
        await _client.PutAsJsonAsync($"{EndPoints.PrioritiesEndPoint}/{id}", priority);
        _navManager.NavigateTo("/Priority/");
    }

}
