@page "/Destination/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent destination="destination" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Destination destination = new Destination();
    protected async override Task OnParametersSetAsync()
    {
        destination = await
        _client.GetFromJsonAsync<Destination>($"{EndPoints.DestinationsEndPoint}/{id}");
    }
}
