@page "/"
<div class="text-center">
    <h1>Welcome to SG Speedy Airways</h1>
    <p>Select a page to navigate to:</p>
    <br />
    <div class="text-center">
        <a href="Airplane">
            <button class="btn btn-primary">Airplane</button>
        </a>
        <a href="Baggage">
            <button class="btn btn-primary">Baggage</button>
        </a>
        <a href="Booking">
            <button class="btn btn-primary">Booking</button>
        </a>
        <a href="Confirmation">
            <button class="btn btn-primary">Confirmation</button>
        </a>
        <a href="Customer">
            <button class="btn btn-primary">Customer</button>
        </a>
        <a href="Destination">
            <button class="btn btn-primary">Destination</button>
        </a>
        <a href="Feature">
            <button class="btn btn-primary">Feature</button>
        </a>
        <a href="Login">
            <button class="btn btn-primary">Login</button>
        </a>
        <a href="Payment">
            <button class="btn btn-primary">Payment</button>
        </a>
        <a href="Priority">
            <button class="btn btn-primary">Priority</button>
        </a>
        <a href="Seats">
            <button class="btn btn-primary">Seats</button>
        </a>
    </div>
</div>

<h4>Our Motto: To infinity and beyond!</h4>

<h4>Our Vision: We aspire to be everyones' favourite airline by providing the cheapest fares in the market</h4>







